---
// Components
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Location from "../components/Location.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

// Tailwind CSS
import "../styles/base.css";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>YVR Snow Wax</title>

    <!-- Web fonts used instead of self-hosting because Astro's recommended method Fontsource caused an issue where Source Sans Pro didn't work at weights below 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />

    <main>
      <Hero />

      <Services />

      <Location />

      <Contact />
    </main>

    <Footer />
  </body>
</html>
