---
import ContactForm from "./Form";
---

<section
  id="contact"
  class="min-h-[500px] bg-stone-100 dark:bg-zinc-950 relative"
>
  <div
    class="mx-auto min-w-[300px] max-w-7xl xl:w-[62%] py-32 lg:py-40 relative z-10"
  >
    <div class="flex justify-center">
      <h2
        class="relative z-0 inline-block font-title font-light dark:text-stone-200 text-zinc-950 text-4xl sm:text-5xl md:text-6xl xl:text-7xl"
      >
        GET IN <span
          id="deco-contact"
          class="text-stone-500 fade-partial-hidden">TOUCH</span
        >
        <div
          class="dark:bg-stone-800 bg-stone-200 h-[.06em] absolute -inset-x-[5%] top-[50%] z-[-1] line-hidden"
        >
        </div>
      </h2>
    </div>
    <ContactForm client:visible />
  </div>
  <div
    class="absolute bottom-0 w-full h-[200px] bg-bg-mountains z-0 bg-center bg-cover"
  >
  </div>
</section>
