---
---

<footer class="bg-stone-100 dark:bg-zinc-900">
  <div
    class="bg-gradient-to-r from-transparent via-yellow-600 to-transparent h-[1px]"
  >
  </div>
  <div class="mx-auto min-w-[300px] max-w-7xl xl:w-[62%]">
    <p class="font-sans dark:text-stone-50 text-right">Built by K</p>
  </div>
</footer>
