---
---

<section id="booking" class="min-h-[500px] bg-stone-50 dark:bg-zinc-900">
  <div class="mx-auto min-w-[300px] max-w-7xl xl:w-[62%]">
    <!-- <h2
            class="inline-block font-title bg-clip-text text-transparent bg-gradient-to-l font-medium from-stone-50 to-zinc-950 from-15% dark:from-25% dark:from-zinc-950 dark:to-stone-50 text-3xl sm:text-4xl md:text-5xl xl:text-6xl [writing-mode:vertical-lr] rotate-180"
          > -->
    <h2
      class="inline-block font-title font-medium text-stone-400 text-3xl sm:text-4xl md:text-5xl xl:text-6xl [writing-mode:vertical-lr] rotate-180"
    >
      BOOK APPOINTMENT
    </h2>
  </div>
</section>
