---
import heroVideo from "../assets/hero.mp4";
---

<section
  id="hero"
  class="relative h-[400px] bg-zinc-900 min-h-screen overflow-hidden"
>
  <video
    autoplay
    muted
    loop
    class="absolute min-h-full min-w-full object-cover brightness-[40%]"
  >
    <source src={heroVideo} type="video/mp4" />
  </video>
  <div
    class="relative mx-auto flex h-full min-w-[300px] max-w-7xl flex-col justify-center xl:w-[62%] px-4 sm:px-4 z-10"
  >
    <h1 class="font-title text-4xl text-stone-50 md:text-6xl xl:text-7xl">
      Go fast. <span class="inline-block">Get a grip.</span>
    </h1>
    <p
      class="font-sans text-lg font-[200] text-stone-50 md:text-2xl xl:text-3xl mt-[1em] sm:mt-[0.5em]"
    >
      Don't let unkept skis or snowboard ruin your snow day.
      <br />
      Book a tuneup <a
        href="#contact"
        class="hover:decoration-yellow-500 transition duration-300 underline underline-offset-4 decoration-2"
        >today</a
      >.
    </p>
  </div>
</section>
