---
---

<section class="h-[400px] dark:bg-zinc-800 min-h-screen">
  <div
    class="mx-auto flex h-full min-w-[300px] max-w-7xl flex-col justify-center xl:w-[62%]"
  >
    <h1 class="font-title text-4xl text-stone-50 md:text-6xl xl:text-7xl">
      Go fast. Get a grip.
    </h1>
    <p
      class="font-sans text-lg font-[200] text-stone-50 md:text-2xl xl:text-3xl"
    >
      Don't let unkept gear ruin your snow day.
      <br />
      Book a ski or snowboard tuneup today.
    </p>
  </div>
</section>
