---
---

<section id="location" class="bg-stone-50 dark:bg-zinc-950">
  <div
    class="mx-auto min-w-[300px] max-w-7xl xl:w-[62%] flex px-2 md:px-10 pt-4 md:pt-14 lg:pt-32 gap-[4%]"
  >
    <p
      aria-hidden="true"
      class="self-start font-title font-medium dark:text-stone-800 text-stone-200 text-5xl sm:text-6xl md:text-7xl xl:text-8xl [writing-mode:vertical-lr] rotate-180 z-0 sm:ml-[0.5em]"
    >
      LOCATION
    </p>

    <div class="z-10 w-full">
      <h2
        class="font-sans font-bold dark:text-yellow-500 text-yellow-700 -ml-[10%] mt-[1em] text-sm md:text-md xl:text-xl"
      >
        LOCATION
      </h2>
      <h2
        class="font-title text-lg sm:text-xl md:text-2xl xl:text-4xl dark:text-stone-200 after:block dark:after:bg-yellow-400 after:bg-yellow-500 after:w-[1em] after:h-[.1em] after:mt-[.1em] mb-[0.5em] -ml-[10%]"
      >
        Richmond, BC
      </h2>
      <p
        class="dark:text-stone-50 dark:font-extralight text-sm sm:text-md md:text-lg xl:text-xl"
      >
        Conveniently located near Richmond-Brighouse station
      </p>
      <p
        class="dark:text-stone-50 dark:font-extralight text-sm sm:text-md md:text-lg xl:text-xl mb-[1em]"
      >
        Free temporary parking available
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17545.76512503646!2d-123.16733245700686!3d49.177912998463526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54860acab0a926a5%3A0x6e1e173e407fb7e6!2sBuswell%20St%2C%20Richmond%2C%20BC!5e0!3m2!1sen!2sca!4v1681774880538!5m2!1sen!2sca"
        width=""
        height=""
        class="w-full h-[250px] sm:h-[400px] md:h-[500px] dark:invert-[90%] dark:hue-rotate-180"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
