---
import { Picture } from "@astrojs/image/components";
import waxDrip from "../media/wax.jpg";

// Services type definitions
import type ServiceTypes from "../types";
// Services data
const servicesData: ServiceTypes = {
  services: [
    {
      name: "Hot Wax",
      price: 30,
    },
    { name: "Edge Sharpening", price: 15 },
    { name: "Base Repair", price: "price upon inspection" },
  ],
  discounts: [{ category: "kids", percentOff: 50 }],
};
---

<section id="services" class="bg-stone-50 dark:bg-zinc-950 min-h-[450px]">
  <div
    class="relative mx-auto min-w-[300px] max-w-7xl xl:w-[62%] pt-14 pl-2 md:pt-16 lg:pt-20"
  >
    <Picture
      src={waxDrip}
      widths={[250, 300, 350]}
      sizes="(max-width: 640px) 250px, (max-width: 1024px) 300px, 350px"
      alt="Block of wax being melted against a hot iron dripping onto the base of a ski"
      class="dark:grayscale object-cover w-[33%] h-[333px] sm:w-[45%] sm:h-[400px] md:object-contain lg:h-[467px] absolute object-center right-0 sm:right-[10%]"
    />

    <p
      aria-hidden="true"
      class="absolute font-title font-medium dark:text-stone-800 text-stone-200 text-6xl md:text-7xl xl:text-8xl right-[10%] sm:right-[40%]"
    >
      SERVICES
    </p>

    <h2
      class="relative font-sans font-medium dark:text-yellow-500 text-yellow-700 text-lg md:text-xl xl:text-3xl z-10 mb-[3em] text-center sm:mr-[20%]"
    >
      SERVICES
    </h2>

    <ul class="text-lg lg:text-2xl pl-4 text-right w-[60%] sm:w-[40%]">
      <li class="dark:text-stone-200 font-sans dark:font-light mt-[0.5em]">
        Hot Wax<span
          class="font-sans dark:text-yellow-500 text-yellow-700 ml-[1em]"
          >30</span
        >
      </li>
      <li class="dark:text-stone-200 font-sans dark:font-light mt-[0.5em]">
        Edge Sharpening<span
          class="font-sans dark:text-yellow-500 text-yellow-700 ml-[1em]"
          >15</span
        >
      </li>
      <li class="dark:text-stone-300 font-sans dark:font-light mt-[0.5em]">
        (kids gear <span
          class="underline decoration-yellow-500 underline-offset-2"
          >50% off</span
        >)
      </li>
    </ul>
  </div>
</section>
